<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Squish</title>

    <!-- LINKS -->
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="/css/style.css">

    <!-- SCRIPTS -->
    <script src="https://code.iconify.design/iconify-icon/1.0.0-beta.3/iconify-icon.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="/js/menu.js"></script>

</head>

<body>

    <!-- HAMBURGER MENU -->
    <div class="menu-container" id="dashMenu">

        <div class="menu-wrapper dashMenuWrapper">    
                <div id="hamburger-menu">   
                        <span></span>
                        <span></span>
                        <span></span>   
                </div>    
        <!-- hamburger-menu -->    
        </div>   
    <!-- menu-wrapper -->

        <ul class="menu-list accordion dashMenuList">    
        <li class="accordion-toggle nav1">     
            <a class="menu-link" href="/">Home</a>   
        </li>          
        <li class="accordion-toggle nav2">               
            <a class="menu-link" href="/dashboard">Dashboard</a>    
        </li>     
            <li class="toggle accordion-toggle nav3">   
            <a class="menu-link" href="/journal">Journal</a>  
            </li>     
            <li class="toggle accordion-toggle nav4">    
            <a class="menu-link" href="/logout">Logout</a>             
        </li>     
        <!-- <li class="toggle accordion-toggle nav5">    
            <a class="menu-link" href="/logout">Logout</a>             
        </li>      -->
        </ul>

    </div>
        <!-- HAMBURGER MENU-->

        
    
    <div class="dash-container">

        <section class="dash-body">


                <!-- DASHBOARD BODY -->
            <div class="titleLogo">
                <div class="dash-logo">
                    <img src="../images/Default.png" alt="logo">
                </div>
                
            </div>


            <div class="dash-content-bkgrnd">
                <div class="dash-filter">

                    <div class="dash-title">
                        <h2>Dashboard</h2>
                    </div>

                    <span>Filter:</span>
                    <div class="dashEmoji">

                        <div class="emojiContainer">
                                <label for="happy" class="emojiLabel">
                                    <input type="checkbox" name="mood" id="happy" value="happy" class="emojiInput">
                                    <iconify-icon icon="fa6-regular:face-smile" class="emojiFace"></iconify-icon>
                                </label>
                             
                        </div>
                
                        <div class="emojiContainer">
                                <label for="meh" class="emojiLabel">
                                    <input type="checkbox" name="mood" id="meh" value="meh" class="emojiInput">
                                    <iconify-icon icon="fa6-regular:face-meh" class="emojiFace"></iconify-icon>
                                </label>
                             
                        </div>
                
                        <div class="emojiContainer">
                                <label for="annoyed" class="emojiLabel">
                                    <input type="checkbox" name="mood" id="annoyed" value="annoyed" class="emojiInput">
                                    <iconify-icon icon="fa6-regular:face-rolling-eyes" class="emojiFace"></iconify-icon>
                                </label>
                             
                        </div>
                
                        <div class="emojiContainer">
                                <label for="angry" class="emojiLabel">
                                    <input type="checkbox" name="mood" id="angry" value="angry" class="emojiInput">
                                    <iconify-icon icon="fa6-regular:face-angry" class="emojiFace"></iconify-icon>
                                </label>
                             
                        </div>
                        
                        <div class="emojiContainer">
                                <label for="sad" class="emojiLabel">
                                    <input type="checkbox" name="mood" id="sad" value="sad" class="emojiInput">
                                    <iconify-icon icon="fa6-regular:face-frown" class="emojiFace"></iconify-icon>
                                </label>
                             
                        </div>
                        
                    </div>
                </div>

                <div>
                    <div class="dash-images">
                        <div class="dash-row">



                            <div class="note">
                                <a href="#">

                                    <div class="noteTitle">
                                            <h3>Journal entry #1</h3>
                                        </div>
                                        <div class="noteText">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                        </div>

                                </a>
                            </div>




                            <div class="note">
                                <a href="#">

                                    <div class="noteTitle">
                                            <h3>Journal entry #1</h3>
                                        </div>
                                        <div class="noteText">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                        </div>

                                </a>
                            </div>

                            <div class="note">
                                <a href="#">

                                    <div class="noteTitle">
                                            <h3>Journal entry #1</h3>
                                        </div>
                                        <div class="noteText">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                        </div>

                                </a>
                            </div>
                        </div>


                        <div class="dash-row">

                            <div class="note">
                                <a href="#">

                                    <div class="noteTitle">
                                            <h3>Journal entry #1</h3>
                                        </div>
                                        <div class="noteText">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                        </div>

                                </a>
                            </div>




                            <div class="note">
                                <a href="#">

                                    <div class="noteTitle">
                                            <h3>Journal entry #1</h3>
                                        </div>
                                        <div class="noteText">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                        </div>

                                </a>
                            </div>
                            
                            <div class="note">
                                <a href="#">

                                    <div class="noteTitle">
                                            <h3>Journal entry #1</h3>
                                        </div>
                                        <div class="noteText">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                        </div>

                                </a>
                            </div>
                        </div>

                        <div class="dash-row">



                            <div class="note">
                                <a href="#">

                                    <div class="noteTitle">
                                            <h3>Journal entry #1</h3>
                                        </div>
                                        <div class="noteText">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                        </div>

                                </a>
                            </div>




                            <div class="note">
                                <a href="#">

                                    <div class="noteTitle">
                                            <h3>Journal entry #1</h3>
                                        </div>
                                        <div class="noteText">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                        </div>

                                </a>
                            </div>
                            
                            <div class="note">
                                <a href="#">

                                    <div class="noteTitle">
                                            <h3>Journal entry #1</h3>
                                        </div>
                                        <div class="noteText">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                        </div>

                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="dash-all-buttons">
                            <div class="dash-button">
                                <button type="submit">Previous</button>
                            </div>
                            <div class="dash-button">
                                <button type="submit">Next</button>
                            </div>
                    </div>

                </div>
            </div>


        </section>
    </div>


    <div class="addEntryBtn">
        <span>

            <a href="/journal"><iconify-icon icon="fa:plus-circle" id="addBtn"></iconify-icon></a>

        </span>
    </div>
</body>

</html>