<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- META TAGS-->

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Squish</title>

    <!-- LINKS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />

    <!-- SCRIPTS -->

    <script src="https://code.iconify.design/iconify-icon/1.0.0-beta.3/iconify-icon.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="/js/menu.js"></script>
  </head>
  <body>
    <div class="signUpHeader">
      <!-- HAMBURGER MENU -->

      <div class="menu-container">
        <div class="menu-wrapper">
          <div id="hamburger-menu">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <!-- hamburger-menu -->
        </div>
        <!-- menu-wrapper -->

        <ul class="menu-list accordion">
          <li class="accordion-toggle nav1">
            <a class="menu-link" href="/">Home</a>
          </li>
          <% if (typeof user !== 'undefined' && user) { %>
          <li class="accordion-toggle nav2">
            <a class="menu-link" href="/dashboard">Dashboard</a>
          </li>
          <li class="toggle accordion-toggle nav3">
            <a class="menu-link" href="/journal">Journal</a>
          </li>
          <li class="toggle accordion-toggle nav4">
            <a class="menu-link" href="/logout">Logout</a>
          </li>
          <% } else { %>
          <li class="toggle accordion-toggle nav4">
            <a class="menu-link" href="/signup">Signup</a>
          </li>
          <li class="toggle accordion-toggle nav5">
            <a class="menu-link" href="/login">Login</a>
          </li>
          <% } %>
        </ul>
      </div>
      <!--ICON-->
      <div class="icon">
        <img src="/images/Default.png" alt="squish-icon" />
      </div>
    </div>

    <!-- LOGIN -->

    <div class="signupCardContainer">
      <div class="signupCard">
        <div class="signupCardBack">
          <h2>Signup</h2>

          <% if (locals.messages.errors) { %> <% messages.errors.forEach( el =>
          { %>
          <div class="alert alert-danger"><%= el.msg %></div>
          <% }) %> <% } %>

          <form
            action="/signup"
            method="POST"
            autocomplete="off"
            class="signupForm"
          >
            <div class="signupFormInput">
              <iconify-icon icon="bx:user"></iconify-icon>

              <input
                type="text"
                name="userName"
                id="userName"
                placeholder="Your Name"
                class="signupFormBox"
              />
            </div>

            <div class="signupFormInput">
              <iconify-icon icon="bx:at"></iconify-icon>

              <input
                type="email"
                name="email"
                id=""
                placeholder="Your Email"
                class="signupFormBox"
              />
            </div>

            <div class="signupFormInput">
              <iconify-icon icon="bx:lock"></iconify-icon>

              <input
                type="password"
                name="password"
                id=""
                placeholder="Your Password"
                class="signupFormBox"
              />
            </div>

            <div class="signupFormInput">
              <iconify-icon icon="bx:lock"></iconify-icon>

              <input
                type="password"
                name="confirmPassword"
                placeholder="Confirm Password"
                class="signupFormBox"
              />
            </div>

            <input type="submit" value="Signup" class="signupFormBtn" />
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
