/* Box Model Hack */
* {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

html {
     margin: auto;
}

html, body {
     height: 100%;
     overflow: auto;
 }

body {
     background-image: linear-gradient(to bottom right,#A88BEB,#512aa9);
     background-color: transparent;
     /* background-image:linear-gradient(to right bottom, rgb(50, 21, 119), rgb(68, 36, 142)) */
     /* #321577, #44248E */
     background-size: 100%;
     font-size: 62.5%;
     font-family: 'Poppin', sans-serif;
     /* margin: auto 25%; */
}

h2 {
     font-size: 2rem;
     font-family: sans-serif;
     padding: 20px;
}

input {
     font-size: 1rem;
     border-radius: 5px;
     border: none;    
     padding: 10px;
     margin: 0px 15px 0; 
     background-color: transparent;
}

/* input:focus {
     outline: none;
} */

.alert {
     font-size: 1rem;
     color: red;
}

a {
     text-decoration: none;
}

/******************************************
/* HOME PAGE
/*******************************************/

div.homeIcon {
     display: flex;
     justify-content: center;
     margin: -2rem 0 2rem 0;
}

.homeTitle {
     color: white;
}

.homeTitleContainer {
     display: flex;
     justify-content: center;
     margin: 0 0 3rem 0;
     font-size: 3rem;
}

.homeContainer {
     margin: auto;
     padding: 2rem;
     width: 50rem;
     height:fit-content;
     background-color: rgba(255, 255, 255, 1);
     color: black;
     font-size: 1.2rem;
     border-radius: 2rem;
}

.homeBtns {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     text-decoration: none;
     color: #512aa9;
     margin: 1rem 2rem;
}

.homeBtns a {
     margin: 1.5rem 1.5rem 0 1.5rem;
     padding: 1rem 3rem;
     border: 2px solid #512aa9;
     border-radius: 5rem;
     text-decoration: none;
     color: #512aa9;
     font-size: 1rem;
}

.homeBtns a:hover {
     background-color: #A88BEB;
     border: #A88BEB;
     color: white;
}



/******************************************
/* LOGIN SWITCHER
/*******************************************/

/* .checkbox:checked + label,
.checkbox:not(:checked) + label{
  width: 60px;
  height: 16px;
  border-radius: 8px;
  padding: 0;
  margin: 10px auto;
  cursor: pointer;
  background-color: #ffeba7;
}
.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before{
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #ffeba7;
  background-color: #102770;
  font-family: 'unicons';
  content: '\eb4f';
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  transition: all 0.5s ease;
} */
/* .checkbox:checked + label:before {
  transform: translateX(44px) rotate(-270deg);
} */

/******************************************
/* SIGNUP STYLES
/*******************************************/

.signupIcon {
     display: flex;
     justify-content: center;
     margin: -5rem 0 1rem 0;
}

.signupCardContainer {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

/* .cardContainer span {
     font-size: 1.3rem;
     margin: 0 1rem;
}

.cardContainer .switch {
     margin-top: 2rem;
     margin-bottom: 3rem;
} */

/* .switch:checked ~ .card {
     transform: rotateY(180deg);
   } */

.signupCard {
     background-color: white;
     padding: 3rem;
     margin: auto;
     width: 30rem;
     height: fit-content;
     border-radius: 30px;
     box-shadow: rgba(100,100,100,0.2) 6px 2px 10px;
     /* transform-style: preserve-3d;
     transition: all 1s ease-in-out;
     position: relative; */
}

/* .card:hover {
     transform: rotateY(180deg);
} */

/* .card .flip {
     backface-visibility: hidden;
     overflow: hidden;
     position: absolute;
     top: 5%;
     right: .2%;
} */

/* .cardBack {
     transform: rotateY(180deg);
     position: absolute;
} */

/* #cardFront {
     position: absolute;
     top: 13%;
} */

.signupCard h2 {
     color: #512aa9;
}

.signupCardBack {
     width: 100%;
     height: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
}

.signupForm {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: 1rem;
}

.signupFormInput {
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 2rem;
     margin-bottom: 10px;
     padding-top: 10px;
     padding-bottom: 10px;
     width: 20rem;
     background-color: rgba(139, 124, 183, 0.283);
     border-radius: 2rem;
}

input.signupFormBox {
     margin-right: 0;
     margin-left: 0;
     width: 15rem;
}

input.signupFormBtn {
     border: .2rem solid rgba(110, 92, 157, 1);
     border-radius: 2rem;
     width: 9rem;
}

input.signupFormBtn:hover {
     background-color: #A88BEB;
     color: white;
}

button.signupFormBtn {
     border: .2rem solid rgba(110, 92, 157, 1);
     border-radius: 2rem;
     width: 9rem;
}

button.signupFormBtn:hover {
     background-color: #A88BEB;
     color: white;
}

.signupBtns {
     display: flex;
     justify-content: center;
}

/******************************************
/* LOGIN STYLES
/*******************************************/

.icon {
     display: flex;
     justify-content: center;
     margin: -2rem 0 3rem 0;
}

.cardContainer {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

/* .cardContainer span {
     font-size: 1.3rem;
     margin: 0 1rem;
}

.cardContainer .switch {
     margin-top: 2rem;
     margin-bottom: 3rem;
} */

.switch:checked ~ .card {
     transform: rotateY(180deg);
   }

.card {
     background-color: white;
     padding: 3rem;
     margin: auto;
     width: 30rem;
     height: 25rem;
     border-radius: 30px;
     box-shadow: rgba(100,100,100,0.2) 6px 2px 10px;
     /* transform-style: preserve-3d;
     transition: all 1s ease-in-out;
     position: relative; */
}

/* .card:hover {
     transform: rotateY(180deg);
} */

/* .card .flip {
     backface-visibility: hidden;
     overflow: hidden;
     position: absolute;
     top: 5%;
     right: .2%;
} */

/* .cardBack {
     transform: rotateY(180deg);
     position: absolute;
} */

/* #cardFront {
     position: absolute;
     top: 13%;
} */

.card h2 {
     color: #512aa9;
}

.cardFront, .cardBack {
     width: 100%;
     height: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
}

.loginForm, .signupForm {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: 1rem;
}

.loginFormInput {
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 2rem;
     margin-bottom: 10px;
     padding-top: 10px;
     padding-bottom: 10px;
     width: 20rem;
     background-color: rgba(139, 124, 183, 0.283);
     border-radius: 2rem;
}

input.loginFormBox {
     margin-right: 0;
     margin-left: 0;
     width: 15rem;
}

input.loginFormBtn {
     border: .2rem solid rgba(110, 92, 157, 1);
     border-radius: 2rem;
     width: 9rem;
}

input.loginFormBtn:hover {
     background-color: #A88BEB;
     color: white;
}

button.loginFormBtn {
     border: .2rem solid rgba(110, 92, 157, 1);
     border-radius: 2rem;
     width: 9rem;
}

button.loginFormBtn:hover {
     background-color: #A88BEB;
     color: white;
}

.loginBtns {
     display: flex;
     justify-content: center;
}


/******************************************
DASHBOARD
/******************************************/

#dashMenu {
     margin-left: 2rem;
     margin-top: 2rem;
}

#dashMenu .dashMenuWrapper {
     position: fixed;
     top: 1.3rem;
     margin-bottom: 2rem;
}

#dashMenu .dashMenuList {
     position: absolute;
     top: 7rem;
}

.dash-container{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: fit-content;
     margin-left: auto;
     margin-right: auto;
 }
 .dash-body{
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
 }
 .titleLogo {
     display: flex;
     flex-direction: column;
     width: 100%;
 }

 .dash-title{
     display: flex;
     align-self: center;
     width: 100%;
 }

 .dash-title > h2{
     font-size: 3rem;
     color: #000000;
     font-family: 'Poppins', sans-serif;
     letter-spacing: 0.1em;
     margin-left: -1.2rem;
 }
 /* .dash-logo{
     display: flex;
     justify-content: flex-end;
 } */

 .dash-logo {
     width: 23rem;;
     display: flex;
     align-self: flex-end;
     margin-top: -2rem;
     margin-bottom: 1.5rem;
 }
 .dash-content-bkgrnd {
     background-color: white;
     padding: 2rem 3rem;
     margin: auto;
     margin-bottom: 5rem;
     width: 70rem;
     height: fit-content;
     border-radius: 30px;
     box-shadow: rgba(100,100,100,0.2) 6px 2px 10px;
 }
 .dash-filter{
     display: flex;
     align-items: center;
     width: 100%;
     font-size: 4rem;
     margin-bottom: 1.5rem;
     margin-left: .5rem;
 }
 .dash-filter > span{
     font-size: 2.5rem;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .dashEmoji {
     display: flex;
     justify-content:flex-end;
     align-items: center;
     height: fit-content;
     margin-right: 1rem;
 }

.note {
     font-size: 1rem;
     text-decoration: none;
     width: 31rem;
     height: 15rem;
     margin-right: 2rem;
     margin-bottom: 2rem;
     background-color: rgba(173, 144, 240, .3);
     /* background-color: #ad90f0; */
     box-shadow: .4rem .4rem .4rem .1rem rgba(0, 0, 0, 0.2);
     border-radius: 0 0 2rem 2rem;
}

.noteTitle {
     display: flex;
     align-items: center;
     width: 100%;
     height: 3rem;
     background-color: rgba(97, 75, 162, .8);
     padding: 1rem;
     color: white;
     font-size: 1.4rem;
     border-bottom: .4rem solid rgba(0, 0, 0, .5);
}

.noteTitle h3 {
     width: 14rem;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
}

.noteText {
     padding: 1rem;
     margin-top: .5rem;
     color: black;
     font-size: 1.1rem;
}

.note a {
     text-decoration: none;
}

 .dash-images{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
 }
 .dash-row {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     width: 100%;
     margin-left: 1.7rem;
 }
.dash-all-buttons{
     display: flex;
     align-items:center;
     justify-content: center;
 }
 .dash-button button{
     width: 7em;
     height: 2em;
     font-size: 20px;
     border-radius: 20px;
     border: solid #7660A5;
     background: #FFFFFF;
     font-family: 'Poppins', sans-serif;
     font-weight: 600;
     margin: 1em 2em 3rem 3rem;
 }

 .dash-button button:hover {
     background-color:#ad90f0;

 }

 .addEntryBtn {
     position: fixed;
     font-size: 4rem;
     bottom: 2rem;
     right: 3rem;
     z-index: 1;
 }

 .addEntryBtn #addBtn {
     color: white;
 }
 
 /******************************************
/* JOURNAL STYLES
/*******************************************/

.formPage {
     margin: auto;
}

.entryIcon {
     display: flex;
     justify-content: center;
     margin: -5rem 0 1rem 0;
     transform: scale(80%);
}

.journalForm {
     background-color: white;
     padding: 40px 40px 20px 40px;
     /* margin: 50px 300px 120px 300px; */
     margin: auto 25%;
     width:fit-content;
     height:fit-content;
     border-radius: 30px;
     box-shadow: rgba(100,100,100,0.2) 6px 2px 10px;
     display: flex;
     flex-direction: column;
}

label {
     font-size: 1.3rem;
}

.emojiLabel {
     font-size: 3rem;
     color: rgba(110, 92, 157, 1);
}

.titlebar {
     margin-bottom: 20px;
     display: flex;
     align-items: center;
}

.entryTitle {
     font-size: 2.5rem;
}

.entry {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     
}

.formInputs {
     background-color: rgba(197, 197, 197, 0.535);
     font-size: 1rem;
     border-radius: 5px;
     border: none;
     padding: 10px;
     margin-bottom: 15px;
     margin-left: 0;     
}

.formInputs:active {
     border: none;
}

textarea {
     background-color: rgba(197, 197, 197, 0.535);
     font-size: 1rem;
     width: 100%;
     border-radius: 20px;
     border: none;
     padding: 10px;
     margin-bottom: 15px;
     resize: none;
}

.journalEmoji {
     display: flex;
     justify-content:flex-end;
     align-items: center;
 }
 
 .emojiContainer {
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 0.5rem;
     align-self: center;
     justify-self: center;
 }
 
 .emojiContainer input {
     display: none;
 }
 
 .emoji iconify-icon {
     font-size: 5rem;
     margin: 0 10px;
     color: rgba(110, 92, 157, 1);
     padding: 5px;
 }
 
 .emojiInput:hover + .emojiFace {
     color: black;
     background-image: linear-gradient(to bottom right,#A88BEB,#512aa9);
     border-radius: 50%;
 }
 .emojiInput:checked + .emojiFace {
     color: black;
     background-image: linear-gradient(to bottom right,#A88BEB,#512aa9);
     border-radius: 50%;
 }

.titlebar {
     display: flex;
     justify-content: space-between;
}

.journalIputs {
     display: flex;
}

.journalInputs input {
     font-family: monospace;
}

.journalInputs .submit {
     align-self: flex-end;
     font-size: 1.4rem;
     font-weight: 500;
     text-decoration: none;
     color: black;
     padding: 5px 15px;
     border: 3px solid rgba(110, 92, 157, 1);
     border-radius: 20px;
}

.journalInputs .submit:hover {
     background-image: linear-gradient(to bottom,#A88BEB,#512aa9);
     /* background: rgba(110, 92, 157, 1); */
     color: white;
}

/******************************************
/* LAYOUT
/*******************************************/
/* header {

}

footer {

} */

/******************************************
/* MENU STYLES
/*******************************************/

ul { 
     list-style: none; 
 }
 
 .menu-link { 
     text-decoration: none; 
     color: black;
 }
 
 .menu-wrapper {
     overflow: hidden;
     width: 50px;
     cursor: pointer;
     border-radius: 50px;
     margin: 20px;
     background-color: white;
 }
 
 .menu-wrapper #hamburger-menu {
     position: relative;
     width: 20px;
     height: 20px;
     margin: 15px;
 }
 
 .menu-wrapper #hamburger-menu span {
     opacity: 1;
     left: 0;
     display: block;
     width: 100%;
     height: 2px;
     border-radius: 10px;
     color: black;
     background-color: white;
     position: absolute;
     transform: rotate(0deg);
     transition: .4s ease-in-out;
 }
 
 .menu-wrapper #hamburger-menu span:nth-child(1) {
     background-color: rgba(110, 92, 157, 1);
     top: 0;
 }
 .menu-wrapper #hamburger-menu span:nth-child(2) {
     background-color: rgba(110, 92, 157, 1);
     top: 9px;
 }
 .menu-wrapper #hamburger-menu span:nth-child(3) {
     background-color: rgba(110, 92, 157, 1);
     top: 18px;
 }
 .menu-wrapper #hamburger-menu.open span:nth-child(1) {
     transform: translateY(9px) rotate(135deg);
 }
 .menu-wrapper #hamburger-menu.open span:nth-child(2) {
     opacity: 0;
     transform: translateX(-60px)
 }
 .menu-wrapper #hamburger-menu.open span:nth-child(3) {
     transform: translateY(-9px) rotate(-135deg);
 }
 
 .menu-container .menu-list {
     padding-top: 20px;
     padding-bottom: 20px;
 }
 .menu-container .menu-list {
     list-style: none;
     padding-left: 0;
     display: block;
     position: absolute;
     width: 100%;
     max-width: 200px;
     background: white;
     box-shadow: rgba(100,100,100,0.2) 6px 2px 10px;
     z-index: 999;
     overflow-y: auto;
     overflow-x: hidden;
     left: -100%;
     border-radius: 0 30px 30px 0;
 }
 
 .menu-container .menu-list li.accordion-toggle {
     font-size: 16px;
     padding: 20px;
     text-transform: uppercase;
     border-top: 1px solid #dbdcd2;
 }
 .menu-container .menu-list li:first-of-type {
     border-top: 0;
 }
 
 .accordion-toggle, .accordion-content {
     cursor: pointer;
     font-size: 16px;
     position: relative;
     letter-spacing: 1px;
 }